<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/info-mgt.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/WdatePicker.css">
    <title>移动办公自动化系统</title>
</head>
<body>
<div class="title"><h2>信息管理</h2></div>
<div class="table-operate ue-clear">
    <a href="javascript:;" class="add">添加</a>
    <a href="javascript:;" class="del">删除</a>
    <a href="javascript:;" class="edit">编辑</a>
    <a href="javascript:;" class="count">统计</a>
    <a href="javascript:;" class="check">审核</a>
</div>
<div class="table-box">
    <table>
        <thead>
            <tr>
                <th class="id">序号</th>
                <th class="name">发件人</th>
                <th class="file">标题</th>
                <th class="content">附件</th>
                <th class="addtime">内容</th>
                <th class="operate">发送时间</th>
                <th class="operate">状态</th>
                <th class="operate">操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="data" id="vol">
                <tr>
                    <td class="id">{$vol.id}</td>
                    <td class="name">{$vol.truename} </td>
                    <td class="title">{$vol.title} </td>
                    <td class="file">{$vol.filename} <if condition ="$vol.hasfile ==1">【<a href="__CONTROLLER__/download/id/{$vol.id}">下载</a>】</if></td>
                    <td class="content">{$vol.content}</td>
                    <td class="addtime">{$vol.addtime|date='Y-m-d H:i:s',###}  </td>
                    <td class="status"><if condition='$vol.isread == 0'><span style="color: red;">未读</span><else /><span style="color: green">已读</span></if></td>
                    <td class="operate"> <a href="javascript:;" class="show" data="{$vol.id}" data-title="{$vol.title}" isread = "{$vol.isread}">查看</a>
                    <a href="__CONTROLLER__/edit/id/{$vol.id}">修改</a></td>
                </tr>
            </volist>
        </tbody>
    </table>
</div>
<div class="pagination ue-clear"></div>
</body>
<script src="__ADMIN__/js/jquery.js"></script>
<script src="__ADMIN__/js/common.js"></script>
<script src="__ADMIN__/js/WdatePicker.js"></script>
<script src="__ADMIN__/js/jquery.pagination.js"></script>
<script src="__ADMIN__/plugin/layer/layer.js"></script>
<script>
// layer.alert('xx');
    $(".select-title").on("click",function(){
        $(".select-list").hide();
        $(this).siblings($(".select-list")).show();
        return false;
    })
    $(".select-list").on("click","li",function(){
        var txt = $(this).text();
        $(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
    })
    $(".pagination").pagination(100,{
        callback:function(page){
            alert(page);
        },
        display_msg : true,
        setPageNo:true
    })
    $("tbody").find("tr:odd").css("backgroundColor","#eff6fa");
    $("tbody").find("tr:odd").css("backgroundColor","#eee6fa");


    $(function(){
        $(".del").on('click',function(){
            var idObj = $(":checkbox:checked"); //获取全部已经被选中的checkbox
            var id = ''; //接收处理后的部门id的值。组成id1，id2，
            //循环遍历idobj对象，获取其中的每一个的值。
            for(var i = 0;i < idObj.length;i++){
                id = id + idObj[i].value + ',';
            }
            //去掉最后的逗号
            id = id.substring(0,id.length-1);
            console.log(id);
            window.location.href="__CONTROLLER__/del/id/" + id;
        })



        //给查看按钮绑定点击事件
        $('.show').on('click',function(){
            // layer.alert('x');
            var id = $(this).attr('data');
            //获取公文标题
            var title  = $(this).attr('data-title');
            var isread = $(this).attr('isread');
            layer.open({
              type: 2,
              title: title,
              shadeClose: true,
              shade: 0.8,
              area: ['560px', '90%'],
              content: '__CONTROLLER__/getContent/id/'+id, //iframe的url
              end:function(){
                //处理关闭的操作
                // window.location.href = location.href;
                if(isread==0) {
                    window.location.reload();
                }
              }
            });
        })
    })
</script>
</html>
