<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="__ADMIN__/css/base.css" />
<link rel="stylesheet" href="__ADMIN__/css/info-reg.css" />
    <title>Document</title>
</head>
<body>
<div class="title"><h2>信息登记</h2></div>
<form action ="" method="post" enctype="multipart/form-data">
    <div class="main">
        <p class="short-input ue-clear">
            <label>标题</label>
            <input type="text" name="title" placeholder="标题">
        </p>
        <div class="short-input select ue-clear">
            <label>缩略图</label>
            <input type="file" name="thumb">
        </div>
        <p class="short-input ue-clear">
            <label>作者</label>
            <input type="text" name="author" placeholder="作者">
        </p>
        <p class="short-input ue-clear">
            <label>描述</label>
            <textarea placeholder="描述" name="description"> </textarea>
        </p>
        <p class="short-input ue-clear">
            <label>内容</label>
            <textarea placeholder="内容" name="content"> </textarea>
        </p>
    </div>
    <div class="btn ue-clear">
        <a href="javascript:;" class="confirm">确定</a>
        <a href="javascript:;" class="clear">清空内容</a>
    </div>
</form>
</body>
<script src="__ADMIN__/js/jquery.js"></script>
<script src="__ADMIN__/js/common.js"></script>
<script src="__ADMIN__/js/WdatePicker.js"></script>
<script>
$(".select-title").on("click",function(){
    $(".select-list").toggle();
    return false;
})
$(".select-list").on("click",function(){
    var txt = $(this).text();
    $(".select-title").find("span").text(txt);
});
showRemind('input[type=text],textarea','placeholder');


$(function(){
    $(".confirm").on("click",function(){
        $('form').submit();
    })
    $(".clear").on("click",function(){
        $("form").get(0).reset();
    })
})



</script>
</html>
